useDynLib("fastclime")
import("Matrix")
export(fastclime,
       fastclime.generator,
       fastclime.plot,
       fastclime.roc,
       print.fastclime,plot.fastclime,
       print.roc,plot.roc,
       print.sim,plot.sim
       )

S3method("print","roc")
S3method("plot","roc")
S3method("print","sim")
S3method("plot","sim")
S3method("plot","fastclime")
S3method("print","fastclime")


